<mat-toolbar>
  <div class="container"
    fxLayout="row"
    fxLayoutAlign="end"
    fxLayoutGap="30px"
  >
    <span fxFlexAlign="center" *ngIf="canShow('greeting')">Hi, !</span>
    <a fxFlexAlign="center" *ngIf="canShow('sign-in')" mat-raised-button color="primary" [routerLink]="['/sign-in']">Sign In</a>
    <a fxFlexAlign="center" *ngIf="canShow('sign-up')" mat-raised-button color="accent" [routerLink]="['/sign-up']">Sign Up</a>
    <a fxFlexAlign="center" *ngIf="canShow('sign-out')" mat-raised-button color="warn" [routerLink]="['/sign-out']">Logout</a>
  </div>
</mat-toolbar>
